/*
* CSS for global element item
*/
.card-section {
    border-radius: 10px;
    background-color: #EEF3FF;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.float-right {
    float: right;
}
.error {
    color: red;
    padding-bottom: 5px;
}
.text-bold {
    font-weight: bold;
}
.clear-fix {
    height: 50px;
}
.table-header tr td{
    background-color: #EEF3FF;
}
.table-header tr td:hover {
    cursor: pointer;
}
.hide {
    visibility: hidden;
}
.margin-top--15 {
    margin-top: -15px;
}
.box-total {
    border-radius: 10px;
    border: none;
    color: white;
    width: 23%;
    margin-left: 1.5%;
}
.txt-choose-month {
    width: 250px;
}
.table thead td {
    background-color: #EEF3FF;
}
/*
* CSS for specical element item
*/
#login_box {
    margin: 10% auto;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 70px;
}
#header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #99A2AD;
}
#section-create-receipt {
    margin: 0 auto;
    padding: 75px;
    margin-bottom: 50px;
}
/*  Xu ly cho phan Admin */
#main {
    padding: 0;
    margin: 0;
}
#sidebar {
    background: #3D3D3D;
    color: white;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    max-height: auto;
}
#logo {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #99A2AD;
}
#logo:hover {
    cursor: pointer;
    color: #99A2AD;
}
#sidebar #menu {
    margin-top: 25px;
    padding-bottom: 25px;

}
#sildebar #menu ul {
    margin: 0;
    padding: 0;
}
#sidebar #menu ul li {
    list-style: none;
    padding: 20px 10px 20px 20px;   /* Top right bottom left */
}
#sidebar #menu ul li:hover {
    background-color: #1E1E1E;
    cursor: pointer;
}
#sidebar #menu ul li a {
    display: block;
    color: white;
    text-decoration: none;          /* Remove under line */
}
#header {
    background-color: #8FABD4;
    /* height: 50px; */
}
#header-left {
    padding-left: 25px;
    text-align: left;
}
#header-left a {
    color: black;
    font-size: 18px;
    text-decoration: none;
}
#header #logout a {
    float: right;
    padding-right: 25px;
    color: black;
    text-decoration: none;
}
#total {
    margin-top: 25px;
    margin-bottom: 25px;
}
#order-shipping {
    background-color: #16476A;
}
#order-in-stock {
    background-color: #59AC77;
}
#order-out-stock {
    background-color: #FFBC4C;
}
#order-profit {
    background-color: #FE6244;
}
#create_storage_box {
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 70px;
}

