/*
* CSS for global element item
*/
.card-section {
    border-radius: 10px;
    background-color: #EEf3ff;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.float-right {
    float: right;
}
.error {
    color: red;
    padding-bottom: 5px;
}
.text-bold {
    font-weight: bold;
}
.clear-fix {
    height: 50px;
}
.table-header tr td{
    background-color: #EEf3ff;
}
.table-header tr td:hover {
    cursor: pointer;
}
.hide {
    visibility: hidden;
}
/*
* CSS for specical element item
*/
#login_box {
    margin: 10% auto;
    vertical-align: middle;
    align-items: center;
    padding-bottom: 70px;
}
#header {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #99A2AD;
}
#section-create-receipt {
    margin: 0 auto;
    padding: 75px;
    margin-bottom: 50px;
}